.layout ul {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    overflow: hidden;
    background-color: #344055;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
}

.layout li a {
    float: left;
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 10px;
}

.layout li a:hover {
    background-color:#2D3749;
}

