* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.layout ul {
    background-color: #344055;
    list-style-type: none;
    overflow: hidden;
    justify-content: center;

}

.layout li a {
    margin-top: 0.2rem;
    display: block;
    color: cornsilk;
    text-align: center;
    margin-bottom: 0.5rem;
    text-decoration: none;
    border-radius: 10px;
}

.layout li a:hover {
    background-color:#2D3749;
    border-radius: 0.5rem;
    
}


@media screen and (min-width: 483px) {
    .layout ul{
        display: flex;
        padding: 15px;
    }

    .layout li a{
        float: left;
        font-size: 22px;
        padding: 10px 20px;
    }
  
}


