@import "rsuite/dist/rsuite.css";
.CountDown{
  display: flex;
  justify-content: center;
  align-items: center;

} 

.countdownContainer{
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  height: 200px;
  gap: 1rem;
}

.counter{
  display: flex;
  flex-direction: column;
}

.counter-number{
  font-size: 2rem;
  padding: 0.5rem;
}

@media screen and (min-width: 483px) {
.CountDown{
  display: flex;
  justify-content: center;
  align-items: center;

} 


.DatePickerInput{
  display: flex;
  align-items: center;
}

.container h4{
  margin-top: 2rem;
}

.countdownContainer{
  margin-top: 1rem;
  height: 200px;
  gap: 1rem;
}

.counter-number{
  padding: 1rem;
  font-size: 4rem;
  min-width: 80px;
}

.counter-text{
  margin-bottom: 16px;
  font-size: 1rem;
  font-weight: bold;
}


.datePicker { 
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.hide {
  display: none !important;
}
}
